@import '../../style/variables.scss';

.random {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    &Char {
        width: 550px;
        height: 250px;
        background: #FFF;
        box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
        padding: 35px 35px 35px 40px;
        display: flex;
        align-items: center;
        &-img {
            width: 180px;
            height: 180px;
            object-fit: cover;
            margin-right: 30px;
        }
        &-name {
            color: #000;
            font-family: Roboto Condensed;
            font-size: 22px;
            font-weight: 700;
        }
        &-info {
            display: flex;
            flex-direction: column;
            gap: 13px;
        }
        &-text {
            font-family: Roboto Condensed;
            font-size: 14px;
            font-weight: 400;
            width: 265px;
            height: 90px;
        }
        &-btns {
            display: flex;
            gap: 30px;
        }
    }
    &Change {
        width: 550px;
        width: 550px;
        height: 250px;
        background: $dark;
        padding: 35px 0 0 40px;
        position: relative;
        &-text {
            color: #FFF;
            font-family: Roboto Condensed;
            font-size: 24px;
            font-weight: 700;
            &.text-2 {
                margin-top: 33px;
            }
        }
        &-img {
            position: absolute;
            top: 47px;
            left: 380px;
        }
        button {
            margin-top: 23px;
        }
    }
}